@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply w-full capitalize bg-secondary px-4 py-3 text-base rounded-md text-white font-semibold;
  }
  .input-primary {
    @apply rounded-md w-full h-12 p-3 border border-gray-300 mt-2 mb-5 focus:ring-secondary focus:border-secondary;
  }
  .display-none {
    @apply hidden;
  }
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}
.scroll-bar::-webkit-scrollbar {
  height: 10px;
}
.scroll-bar::-webkit-scrollbar-track {
  background: #FFEAEA;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #fc9696;
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #FFEAEA;
}
::-webkit-scrollbar-thumb {
  background-color: #fc9696;
  border-radius: 20px;
}
